{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
{{ user.get_username }} posts
{% endblock title %}

{% block content %}
<h1 class="text-center">List of my posts<span class="text-muted fs-6 fw-normal">
    ({{ page_obj.paginator.count }})</span></h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <hr>
    {% if my_posts %}
        <table>
           <tr>
               <td>Post title &emsp;&emsp;</td>
               <td>Date of posting &emsp;&emsp;</td>
               <td>Content &emsp;&emsp;&emsp;&emsp;</td>
               <td>Category &emsp;&emsp;</td>
           </tr>
            {% for post in my_posts %}
           <tr>
               <td>
                   <a href="{% url 'post_detail' pk=post.id %}">{{ post.title|truncatewords:2 }}</a>
               </td>
               <td>{{ post.postingDate|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
               <td>{{ post.category }}</td>
           </tr>
            {% endfor %}
               </table>
    {% else %}
       <h2>No announce found!</h2>
    {% endif %}
<div class="text-center">
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    <hr>
</div>
{% endblock content %}